extends layout
block content
    .w3-container
        h1 Lista de Tipologias
        table.w3-table-all
            tr
                th Sigla
                th Estado
                th Designação
                th Id
            each ent in lista
              tr
                  td 
                    a(href="/clav/get/entidade/ent_"+ent.sigla)= ent.sigla
                  td= ent.estado
                  td= ent.designacao
                  td
                    a(href="/clav/get?id="+ent.sigla)= ent.id
    footer.w3-container.w3-blue
      address Tiago Baptista
